body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514e;
    line-height: 2;
    background-color: #EAF6F6;
}
h1{
    font-family: 'Sacramento', cursive;
    margin: 30px auto 0 auto;
    font-size: 3.5em;
    color: #037070;
}

h2{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: #037070; 
    margin: 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #037070;
}
hr{
    border: dotted #EAF6F6 15px;
    border-bottom: none;
    width: 10%;
    margin: 70px auto;
    
}
.my-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0;
}
.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
    padding: 3px;
}
.skill{
    width: 30%;
    float: left;
    margin-right: 40px;
}
.videogame{
    width: 30%;
    float: right;
    margin-left: 30px;

}

.top-container {
    background-color: skyblue;
    position: relative;
    padding-top: 25px;
}

.middle-container {
    margin: 70px 0;
    background-color: #EAF6F6;
}

.intro {
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
}
.contact-message {
    width: 40%;
    margin : 10px auto 60px;
}

.bot-cloud {
    position: absolute;
    top: 280px;
    left: 230px;
}
.top-cloud {
    margin-left: 400px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
} 

a {
    color: #0b8e92;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    font-weight: bolder ;
    text-decoration: none;
}

a:hover {
    color:#EAF6F6;
}

.copy{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 15px 0;
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #1e72a6);
    background-image: -moz-linear-gradient(top, #66BFBF, #1e72a6);
    background-image: -ms-linear-gradient(top, #66BFBF, #1e72a6);
    background-image: -o-linear-gradient(top, #66BFBF, #1e72a6);
    background-image: linear-gradient(to bottom, #66BFBF, #1e72a6);
    -webkit-border-radius: 22;
    -moz-border-radius: 22;
    border-radius: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #27e650);
    background-image: -moz-linear-gradient(top, #30e3cb, #27e650);
    background-image: -ms-linear-gradient(top, #30e3cb, #27e650);
    background-image: -o-linear-gradient(top, #30e3cb, #27e650);
    background-image: linear-gradient(to bottom, #30e3cb, #27e650);
    text-decoration: none;
  }